@{
    ViewBag.Title = Language.RegistrationConfirmation;
    Layout = "~/Views/Shared/_SideBarLayout.cshtml";
}
<section>
    <div class="container h600">
        <div class="row-fluid">
            <div class="span6">
                <div style="font-style: italic;  font-size: 150%;">@ViewBag.Message</div>
            </div>
        </div>
    </div>
</section>